body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0;
    background-color: #f5f5f5;
}

/* ヘッダーのスタイル */
.header {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.logo {
    height: 25px;
}

.header-text {
    text-align: right;
}

.header-text p {
    margin: 0;
    font-size: 10px;
    color: #333;
}


.highlight-text {
    color: #d9534f; /* 赤い強調表示の部分 */
    font-weight: bold;
}



/* メインビジュアルのスタイル */
.main-visual {
    width: 100vw;
    aspect-ratio: 2214 / 994;
    background-image: url('img/Frame\ 2550.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* テキストを中央に配置 */
.main-visual-text {
    text-align: left;
    padding-left: 7%;
    padding-top: 7%;
}

/* h1とh2のスタイル */
.main-visual-text h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 6vw; /* 大きなフォントサイズ */
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #274B77, #274B77, #396A98, #396A98, #274B77);
    width: 48vw;
    text-align: center;
    margin-bottom: 2vw;
    letter-spacing: 0.4vw;
}

.main-visual-text h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 4vw;
    width: 58vw;
    color: #274B77;
    background-color: white;
    text-align: center;
    letter-spacing: 0.6vw;
}

.main-visual img {
    width: 50%;
    padding-left: 7%;
    padding-top: 4.5%;
}







/* プログレスバー全体のコンテナ */
.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background: linear-gradient(to right, #274B77, #396A98); /* 背景のグラデーション */
    color: white;
}

/* 左側の「STEP」テキスト */
.step-text {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 0px;
}

/* プログレスバー本体 */
.progress-bar {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 20px;
    padding: 0;
    list-style: none;
    counter-reset: step; /* ステップのカウンターをリセット */
    position: relative;
}

/* プログレスバーのステップスタイル */
.progress-bar li {
    position: relative;
    text-align: center;
    flex: 1.5;
    font-size: 14px;
    color: white;
    counter-increment: step; /* ステップをカウント */
}

/* ステップの番号部分と間の線を `::before` で表現 */
.progress-bar li::before {
    content: counter(step); /* ステップ番号を表示 */
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #628BA4; /* 非アクティブなステップの背景色 */
    border-radius: 50%;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-weight: bold;
}

/* ステップ間の線を同じく `::before` で管理 */
.progress-bar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8AA4BF; /* 非アクティブなステップ間の線 */
    top: 50%;
    left: 50%; /* ステップ中央から始まる */
    z-index: 0;
    transform: translateX(-108%); /* ステップ番号の真ん中まで線を伸ばす */
}

/* 最初のステップには線を描かない */
.progress-bar li:first-child::after {
    content: none;
}

/* アクティブなステップ */
.progress-bar li.active::before {
    background-color: white;
    color: #274B77;
}

/* アクティブなステップの前のステップの線を白くする */
.progress-bar li.active::after {
    background-color: white;
}

/* 縦棒のスタイル */
.vertical-line {
    width: 1.5px;
    height: 32px;
    background-color: white;
    margin-left: 0px;
    margin-right: 20px;
}

/* 右側の「簡単60秒」テキスト */
.easy-text {
    font-size: 14px;
    margin-right: 12px;
}








/* フェードイン・フェードアウトのスタイル */
.step {
    display: none;
    text-align: center;
    /* opacity: 0;
    transition: opacity 0.5s ease; */
}



.step.active {
    display: block;
    /* opacity: 1; */
}

/* フォームのスタイル */
form {
    background: #EAEFF2;
    padding: 20px 20px 40px 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
}

.step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-lock {
    margin-top: 8px;
    margin-bottom: 10px;
}

.label-lock span {
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.label-lock img {
    width: 10px;
    margin-right: 4px;
}

.step-4-label {
    font-weight: bold;
    font-size: 15px;
    color: #333333;
    margin-bottom: 5px;
    align-self: flex-start;
    padding-left: 7%;
}

.step-4-under {
    font-size: 14px;
    color: #2D6183;
    letter-spacing: 1px;
    margin-top: 6px;
    margin-bottom: 36px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 2px solid #2E5A7C;
}


.next-button-1 {
    color: #2C6C8F;
    border: none;
    background-color: #EAEFF2;
    text-decoration: underline;
    font-size: 3vw;
    margin-left: 60vw;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-button {
    color: #2C6C8F;
    border: none;
    background-color: #EAEFF2;
    text-decoration: underline;
    font-size: 3vw;
}

.back-button {
    color: #2C6C8F;
    border: none;
    background-color: #EAEFF2;
    text-decoration: underline;
    font-size: 3vw;
}

.step-4-next {
    background-color: #F39C12;
    color: white;
    width: 58%;
    height: 12vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border: none; /* ボーダーなし */
    border-radius: 8px; /* 角を丸める */
    position: relative; 
    text-align: center;
}

.next4{
    font-weight: bold;
    font-size: 4vw;
}

.mark4 {
    font-weight: bold;
    margin-left: 10px;
    position: absolute; /* 絶対配置で右寄せ */
    right: 15px; /* 右端から15pxの位置に配置 */
    top: 30%; 
}

.step-5-links {
    margin-bottom: 36px;
}

.step-5-links span {
    color: #5C5C5C;
    margin: 20px 0px;
    font-size: 2vw;
    font-weight: bold;
}

.step-5-links a {
    color: #5C5C5C;
    margin: 20px 0px;
    font-size: 2vw;
    font-weight: bold;
}

.step-5-con {
    background-color: #F39C12;
    color: white;
    width: 58%;
    padding: 10px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    border: none; /* ボーダーなし */
    border-radius: 8px; /* 角を丸める */
    position: relative; 
    text-align: center;
}

.step-5-con p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.consensus {
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.5vw;
}

.sign {
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 1vw;
}

.mark5 {
    font-weight: bold;
    position: absolute; /* 絶対配置で右寄せ */
    right: 15px; /* 右端から15pxの位置に配置 */
    top: 32%; 
}




/* 選択肢ボタンのスタイル */
.options {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;  /* 中央揃え */
    margin-bottom: 40px;
}

.option-button {
    flex: 1 1 calc(40% - 20px); /* 45%の幅で、間に20pxの余白 */
    background-color: #ffffff;
    color: #2E5A7C;
    border: 2px solid #2E5A7C; /* ボーダーを少し太くして目立たせる */
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    font-size: 20px;  /* フォントサイズを少し大きく */
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽いシャドウ */
}

.option-button:hover {
    background-color: #ddd;
}

.option-button.selected {
    background-color: #2E5A7C;
    color: white;
    border-color: #2E5A7C;  /* 緑のボーダーで選択されたことを強調 */
}

.options-3 {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    gap: 10px;
    align-items: center;  /* ボタンを中央揃え */
    margin-bottom: 40px;
}

.option-button-3 {
    width: 80%;  /* ボタン幅を80%に設定 */
    background-color: #ffffff;
    color: #2E5A7C;
    border: 2px solid #2E5A7C; /* ボーダーを少し太くして目立たせる */
    border-radius: 4px;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;  /* フォントサイズを少し大きく */
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽いシャドウ */
}

.option-button-3:hover {
    background-color: #ddd;
}

.option-button-3.selected {
    background-color: #2E5A7C;
    color: white;
    border-color: #2E5A7C;  /* 緑のボーダーで選択されたことを強調 */
}



.modal.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}


.modal[style*="display: none"] {
    display: none !important;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.modal button {
    margin-top: 20px;
    cursor: pointer;
}

.update {
    text-align: right;  /* コンテンツを右寄せ */
    font-size: 14px;
    font-weight: bold;
    color: #5C5C5C; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    background-color: white;
}

.privacy-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px 20px 10px 20px;
}

.privacy-mark img {
    max-width: 40px;
    margin-right: 20px;
}

.privacy-mark p {
    font-size: 10px;
    color: #333;
    line-height: 1.6;
}

.footer {
    background-color: #4d4d4d; /* ダークグレー背景 */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: none; /* ホバー時の下線 */
}

.footer-copyright {
    margin-top: 10px;
    font-size: 8px;
    color: #ccc;
}



/* モーダルのスタイル */
/* .modal {
    display: flex;
    opacity: 1;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;  
} */

/* モーダル全体のスタイル */
.modal {
    display: flex;
    opacity: 1;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal[style*="display: none"] {
    display: none !important;
}

/* モーダルのコンテンツスタイル */
.modal-content {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    width: 80%; /* 幅を80%に設定 */
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 区切り線のスタイル */
.modal-divider {
    width: 50px;
    margin: 10px auto;
    border: 0;
    border-top: 1px solid #666;
}

/* モーダル内のボタンスタイル */
.modal-button {
    background-color: white;
    color: #2E5A7C;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border: 2px solid #2E5A7C;
    border-radius: 4px;
    width: 80%;
    max-width: 350px;
    margin: 0 auto 15px; /* 中央揃え */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.modal-button:hover {
    background-color: #F2F4F4;
    border-color: #2980B9;
}

.modal-button-arrow {
    font-size: 16px;
    color: #2E5A7C;
}

/* モバイル対応: 横幅が600px以下の場合 */
@media (max-width: 600px) {
    .modal-content {
        width: 80%; /* モバイル時は80%の幅に設定 */
    }
}

